.post {
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
}

.post-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}

.name-cell {
  text-align: left;
  margin: 10px auto;
}

.tags-table {
  margin-left: 6rem;
  margin-top: 10px;
}

.search-bar {
  margin-top: 20px;
}

.tags-table tr {
  height: 60px;
}

.tags-table td {
  border-top: 1px solid rgba(0, 0, 0, .12);
  padding: 10px;
}

.tags-table th {
  padding: 20px;
  color: rgba(0, 0, 0, .54);
}

.search {
  margin-left: 10px;
}

.tag-detail {
  margin-top: 40px;
}

.tag-row {
  cursor: pointer;
}

tr:hover {
  background-color: silver;
  font-weight: bold;
  cursor: pointer;
}

.back-btn {
  margin-top: 30px;
  background-color: silver !important;
}
